# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# PERSONAL
# FIXME: need to keep test/ but make sure not to include .exercism 
#build/
#test/
.exercism/
out/
.vs/

# neovim 
Session.vim

# VS Code
*.code-workspace

# Odin
ols-old.json

# Debug
*.pdb
